.borderbox {
  position: relative;
  text-align: center;
  margin-bottom: 82px;
}
.textBottom {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.textBottom2 {
  display: none;
}
.headline1 {
 font-size: 45px;
 text-align: left;
 margin: 0px 0px 15px 40px;
 position: relative;
}

.headline2 {
  font-size: 40px;
  color: #ffffff99;
  text-align: left;
  margin-left: 40px;
  transition-delay: 5s;
}

.videotransition {
    max-width: 100%;
   width: 70%; 
   margin: auto;
}


@media screen and (max-width: 900px) {
  .headline1 {
    font-size: 25px;
    margin: 0px;
   }
   .headline2 {
     font-size: 20px;
     margin: 0px;
   }
   
   .textBottom {
    margin-top: 300px;
    display: none;
   }
   .text-container {
    margin-top: 100px;
   }
   .borderbox {
    margin-bottom: 5px;
   }
   .videotransition {
   margin: auto;
  }
  .textBottom2 {
    display: block;
    padding: 20px 5px;
    margin-left: 15px;
  }
  .videotransition {
    width: 100%;
    height: auto;
    max-width: 100%; 
    transform: scale(1.5); 
    
  }
  .videoContainer {
    padding-top: 50px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
  }

}