 .Imgbox {
     border-right: 1px solid rgba(255, 255, 255, 0.247);
     display: flex;
     justify-content: center;
     align-items: center;
     padding-right: 15px;
     overflow: hidden;
 }

 .textbox {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 400px; /* Adjust this value based on your design */
     padding: 80px;
 }
 .textbox::-webkit-scrollbar {
    width: 1px; /* Adjust width for vertical scrollbar */
  }
  
  .textbox::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
  .textbox::-webkit-scrollbar-thumb {
    background: gray; /* Color of the scroll thumb */
  }
  
  .textbox::-webkit-scrollbar-thumb:hover {
    background: darkgray; /* Color of the scroll thumb on hover */
  }
  
  .textbox {
    scrollbar-width: thin; /* Make scrollbar thinner for Firefox */
    scrollbar-color: gray #f1f1f1; /* Scroll thumb color and track color for Firefox */
  }

  .heading {
    text-align: center; /* Center the headings */
  }
  
  .content {
    text-align: left; /* Align the text content to the left */
  }

  .textbox ul {
    list-style-type: disc; /* This ensures you have bullet points */
    padding-left: 30px; /* Adjust this value to move the list more to the right */
    margin-top: 10px; /* Optional: Add some top margin if needed */
    margin-bottom: 10px; /* Optional: Add some bottom margin if needed */
  }
  
  .textbox li {
    margin-bottom: 5px; /* Optional: Add some space between list items */
  }
  .textbox li::marker {
    color: #ffffff7a; /* This will make the bullet points the desired color */
    font-size: 1em; /* Adjust if you want to change the size of the bullet points */
  }
  

 @media screen and (max-width: 900px) {
     .Imgbox {
         border-right: 0px solid rgba(255, 255, 255, 0.247);
         padding-right: 0px;
     }

     .textbox {
         text-align: left;
         width: 100%;
         padding: 20px 2px;
     }

     .textbox h1 {
         text-align: center;
         padding-bottom: 10px;
     }
 }