@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-primary: white;
  --color-secondary: #2ee728;
  --color-light: #ffffff;
  --color-light-opacity: #ffffff7a;
  --color-dark: #000000;
  --color-dark-opacity: #000000;
  --color-light-gray: rgba(0,0,0,.7);
  --padding-default: 36px;
  font-size: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: normal;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

html body {
  font-family: 'Roboto', sans-serif;
  
}
.background-dark {
  background-color: var(--color-dark);
}
.background-light {
  background-color: var(--color-light);
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

body a {
  text-decoration: none;
}

body button {
  background-color: var(--color-light);
  color: var(--color-dark);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  border-radius: 50%;
  font-family: 'IBM Plex Mono', monospace;
}

body button:hover {
  color: var(--color-light-gray);
}

body h1 {
  font-size: 1.7rem;
  color: var(--color-light)
}

body h2 {
  font-size: 1.3rem;
  color: var(--color-light)
}

body h3 {
  font-size: 42px;
  color: var(--color-light)
}
body h4 {
  font-size: 1.1rem;
  color: #ffffff99;
}
body h5 {
  font-size: 23.4px;
}

body h6 {
  font-size: 19.8px;
  color: var(--color-light-gray);
}

body hr {
  box-shadow: 0 0 1px var(--color-primary);
}

.text-uppercase {
  text-transform: uppercase;
}

.layout {
  max-width: 100%;
  margin: auto;
  
}
.padding-top {
  padding-top: 90px;
}

/* NAVBAR*/
.menu-icon {
  font-size: 45px;
  color: var(--color-light);
}

.nav-options {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 50px;
  color: var(--color-light);
  align-items: center;
}

.link-contact a {
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  padding: 4px 8px;
  margin: 0px 22px 0px 80px;
}

.link-contact a:hover {
  border-color: var(--color-secondary);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.flex-space-between {
  width: 100%;
  justify-content: space-between;
}

#contact .flex-space-between div {
  width: 48%;
}

#contact .flex-space-between div input {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-left {
  max-width: 30%;
}

.flex-right {
  max-width: 70%;
}

.text-center {
  text-align: center;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform-origin: 0%;
  z-index: 1;
  height: 1px;
  background-color: #00cc83;
  margin-top: 101px;
}

.grid-line {
  border-right: 1px solid rgba(255, 255, 255, 0.247);
  padding-right: 45px;
  
}

.align-left {
  text-align: left;
  justify-content: left;
  align-items: center;
}

.align-center {
  margin: auto;
}

.section-title {
  margin-bottom: 30px;
  width: fit-content;
  font-weight: bold;
  text-transform: uppercase;
}

.full-height {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-height2 {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.section-container {
 
  
}

.full-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
}

.div-box {
  width: 40%;
}
.flex-row-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 36px 0px 36px;
}

.box {
  background: var(--color-dark-opacity);
}

.about-container button {
  margin-top: 40px;
  text-transform: uppercase;
}

.social-links {
  display: flex;
  gap: 20px;
  font-weight: 500;
}

.social-links>a {
  color: var(--color-light);
  z-index: 1;
  border: 1px solid rgba(79, 79, 79, 0.512);
  border-radius: 4px;
  padding: 7px;
  display: flex;
  background-color: var(--color-dark-opacity);
}

.social-links>a>svg {
  font-size: 1.4rem;
}

.social-links a:hover {
  color: var(--color-primary);
  background-color: var(--color-dark);
}

.footer-section {
  width: 100%;
  height: 4.8rem;
  border-top: 1px solid rgba(79, 79, 79, 0.512);
  background-color: var(--color-dark);
}

.footer-links {
  line-height: 2rem;
}

.footer-links span {
  color: var(--color-primary);
  cursor: pointer;
}

.footer-links span:hover {
  border-bottom: 2px solid #fff;
}

.footer-links span svg {
  margin-right: 5px;
}

.footer-links span * {
  font-size: 1.2rem;
  vertical-align: text-top;
}


.flex-center {
  justify-content: center;
  align-items: center;
}

.description {
  text-align: justify;
  line-height: 2rem;
}

.underline {
  text-decoration: underline;
}

.author,
.category {
  font-weight: 500;
}

.mobile-menu {
  display: none;
}

.gap40 {
  gap: 40px;
}

#works,
#blog,
#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5%;
  margin: 0px 60px 0px 60px;
  
}
.grid-container2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5%;
  margin: 0px 60px 0px 60px;
}

.card {
  width: 410px;
  height: auto;
  margin: 50px 0px 50px 0px;
  background-color: var(--color-light);
  padding: 23px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.border-side {
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  width: 1px;
  height: 100%;
  background-color: rgba(0,0,0,.1);
  margin: 0px 40px 0px 40px;
}

#contact {
  opacity: 0;
  transition: opacity 1s;
}

#contact.show {
  opacity: 1;
}

.spacer-small {
  width: 100%;
  height: 1.2rem;
}
.spacer-medium  {
  width: 100%;
  height: 2.8rem;
}

.headlines {
  display: flex;
  width: 100%;
  height: 4.8rem;
  padding-right: 2rem;
  padding-left: 2rem;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding-top: 150px;
}

.text-container {
  opacity: 0;
  transform: translateX(50px);
  transition: all 2s ease-in-out;
}

.slide-in-right {
  opacity: 1;
  transform: translateX(0);
}
.img-container {
  width: 90%;
  height: auto;
  padding: 15px;
}


/* MOBILE VIEW */
@media screen and (max-width: 900px) {

  :root {
    font-size: 13px;
    --padding-default: 30px;
  }

  #contact {
    height: fit-content;
    margin: 0 auto 60px auto;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
  }

  .menu-header {
    width: 100%;
  }

  .menu-header::before,
  .menu-header::after {
    display: none;
  }

  .nav-options {
    width: 100%;
    position: absolute;
    top: 75px;
    border-radius: 7px;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    padding: 30px;
    align-content: center;
    background-color: var(--color-dark);
  }

  .nav-options.active {
    opacity: 1;
    transition: all 0.5s ease;
  }
  .link-contact a {
    margin: 0px;
  }

  .full-height {
    height: 100%;
  }

  .about-info {
    width: 100%;
  }

  .avatar {
    width: 90% !important;
    height: 90% !important;
  }

  #contact form,
  #contact .flex-space-between div {
    width: 100%;
  }

  .footer-links {
    justify-content: space-between;
    padding: 0 50px;
  }

  .grid-container {
    grid-template-columns: 1fr;
    gap: 0;
  }


  .border-side {
    display: none;
  }
  .card {
    padding: 0px;
  }
  .card-Img {
    padding: 50px;
  }
  .card h6 {
    font-size: 20px;
    padding: 15px;
  }
  .card h5 {
    padding: 15px;
  }

  #nav-bar-dot {
    display: none;
  }

  #navbar-dot {
    display: none;
  }
  .padding-top {
    padding-top: 20px
  }
  .text-center {
    font-size: 15px;
  }
  .headlines {
    padding-top: 0px;
  }
  .grid-line {
    border-right: 0px solid rgba(255, 255, 255, 0.247);
    padding-right: 0px;
  }
  .sphere {
    padding: 35px;
    margin: 0px;
  }
 
}