.borderbox {
  position: relative;
  text-align: center;
  margin-bottom: 75px;
}
.textBottom {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.headline1 {
 font-size: 45px;
 text-align: left;
 margin: 0px 0px 15px 40px;
 position: relative;
}

.headline2 {
  font-size: 40px;
  color: #ffffff99;
  text-align: left;
  margin-left: 40px;
  transition-delay: 5s;
}
