.bgHeader {
  height: 102px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: var(--color-dark-opacity);
  font-size: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.247);
}

.header {
    height: 99px;
    width: 100%;
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    z-index: 3;
    
  }
  
  .header > a {
    background: linear-gradient(to right, var(--color-primary) 0%, #1442db 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    margin-left: 22px;
    height: 85px;
  }

.navLeftDotContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-left: -30%;
  
}
.animationContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.word {
  font-size: 20px;
  opacity:0;
  position: absolute;
  width: -20%;
  text-align: left;
  color: #ffffff99;
  margin-bottom: 4px;
}
.navHover span {
  display: block;
  transition: 0.5s;
}

.navHover a {
  position: relative;
  display: block;
  overflow: hidden;
}
.navHover a:hover span {
  transform: translateY( -100%);
}
.navHover a:before{ 
  position: absolute; 
  content: attr(data-link-alt); 
  top:100%; 
  opacity: 0;
  transition: 0.5s;
 
}
.navHover a:hover:before {
  top:0; 
  opacity: 1;
}

@keyframes w1anim {
  0%   { opacity: 0; }
  4.16%   { opacity: 1; }
  8.33% { opacity: 0; }
}

@keyframes w2anim {
  12.5%   { opacity: 0; }
  16.66%  { opacity: 1; }
  20.83%  { opacity: 0; }
}

@keyframes w3anim {
  25%     { opacity: 0; }
  29.16%  { opacity: 1; }
  33.33%  { opacity: 0; }
}

@keyframes w4anim {
  37.5%   { opacity: 0; }
  41.66%  { opacity: 1; }
  45.83%  { opacity: 0; }
}

@keyframes w5anim {
  50%     { opacity: 0; }
  54.16%  { opacity: 1; }
  58.33%  { opacity: 0; }
}

@keyframes w6anim {
  62.5%   { opacity: 0; }
  66.66%  { opacity: 1; }
  70.83%  { opacity: 0; }
}

@keyframes w7anim {
  75%     { opacity: 0; }
  79.16%  { opacity: 1; }
  83.33%  { opacity: 0; }
}

@keyframes w8anim {
  87.5%   { opacity: 0; }
  91.66%  { opacity: 1; }
  95.83%  { opacity: 0; }
}
.w1 {
  -webkit-animation: w1anim 14s infinite;
          animation: w1anim 14s infinite;
}
 
.w2 {
  -webkit-animation: w2anim 14s infinite;
          animation: w2anim 14s infinite;
}
 
.w3 {
  -webkit-animation: w3anim 14s infinite;
          animation: w3anim 14s infinite;
}
 
.w4 {
  -webkit-animation: w4anim 14s infinite;
          animation: w4anim 14s infinite;
}
 
.w5 {
  -webkit-animation: w5anim 14s infinite;
          animation: w5anim 14s infinite;
}
.w6 {
  -webkit-animation: w6anim 14s infinite;
          animation: w6anim 14s infinite;
}
.w7 {
  -webkit-animation: w7anim 14s infinite;
          animation: w7anim 14s infinite;
}
.w8 {
  -webkit-animation: w8anim 14s infinite;
          animation: w8anim 14s infinite;
}

@media (max-width: 1200px) {

.navLeftDotContainer {
  margin-left: -15%;
  gap: 5px;
  }
}

@media (max-width: 950px) {
.header > a {
  font-size: 50px;
  margin-left: 0px;
  height: 85px;
  }
}

@media (max-width: 767px) {
  
  .word {
    font-size: 15px;
    margin-bottom: 0px;
  }

  .navHover span {
    transition: none;
  }
  
  .navHover a:hover span {
    transform: none;
  }

  .navHover a:before{ 
    position: absolute; 
    content: attr(data-link-alt); 
    top:0%; 
    opacity: 0;
    transition: none;
  }
}