 .Imgbox {
    /* margin-left: auto; 
    margin-right: 15%; */
    width: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.247);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}
.textbox {
    text-align: center;
    
}
