.blogCard {
    height: fit-content;
    cursor: pointer;
    display: flex;
}

.blogCard img {
    margin: auto;
    height: 150px;
    width: 150px;
    border-radius: 7px;
    object-fit: cover;
    margin-right: 20px;
}

.blogCardDescription {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Drawer */

.drawerContent {
    top: 50%;
    left: 0;
    margin: auto;
    height: fit-content;
    min-height: 50%;
    background-color: white;
    padding: 72px 85px 72px 85px;
}

.drawerCloseButton {
    border: 1px solid black;
    margin: 83px 80px 0px 0px;
}

.drawerBody {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.drawerBody h1{
 font-size: 23px;
}

.drawerFooter {
    display: flex;
    gap: 30px;
    border-top: 1px solid rgba(12, 12, 12, 0.349);
}

.FooterIcon {
    font-size: 100px;
    margin: 1px;
}


/* MOBILE VIEW */

@media screen and (max-width: 1100px) {
    .blogCard {
        flex-direction: column;
    }
    .blogCard img {
        width: 100%;
        margin-bottom: 20px;
    }

}
@media screen and (max-width: 900px) {
   
    .drawerBody {
        flex-direction: column-reverse;
    }

    .drawerBody h5{
        font-size: 13px;
       }

    .blogCard {
        flex-direction: column;
        width: 100%;
    }

    .blogCard img {
        width: 100%;
    }

    .drawerContent {
        padding: 20px;
    }

    .drawerCloseButton {
        border: 1px solid black;
        margin: 30px 45px 0px 0px;
    }

    .FooterIcon  {
        font-size: 80px;
    }

    .drawerFooter {
        padding:  10px 0px 0px 0px;
    }

    .drawerFooter h5 {
        font-size: 20px;
    }
}
